/* スマホ iphone*/
@media (max-device-width: 480px){
    #game{
        font-size: 15.5px;
    }
}

/* ipad */
@media (min-device-width: 768px){
    #game{
        font-size: 32px;
    }
}

/* PC */
@media (min-device-width: 770px){
    #game{
        font-size: 24px;
    }
}

/* 共通 */
body {
    margin: 0;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    width: 24em;
    height: 28.5em;
}

#game .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active {
    display: block;
}

/*スプラッシュ画面*/
#splash img{
    position: absolute;
    width: 18em;
    top: 3em;
    left: 3.4em;
}

#tap img{
    position: absolute;
    top: 23em;
    left: 5.5em;
    width: 12em;
}

/* ルール画面 */
#rule{
    padding-top: 1.8em;
}
#start {
    padding-top: 1.8em;
}

#title{
    padding-top: 1.9em;
}

#title img {
    width: 6em;
    margin-left: 8em;
    background-repeat: no-repeat;
}

#rule img {
    width: 21em;
    margin-left: 2em;
    background-repeat: no-repeat;
}

#start img {
    width: 8em;
    margin-left: 6.9em;
    background-repeat: no-repeat;
}

/*プレイ画面*/
#play-zone {
    position: absolute;
    top: 1.5em;
}

#river img{
    position: absolute;
    left: 0;
    top: 0.4em;
    width: 24em;
    height: 24.5em;
}

#river_d img{
    position: absolute;
    left: 3.3em;
    top: 0.3em;
    width: 17em;
}

#launch img{
    position: absolute;
    left: 8.2em;
    top: 18em;
    width: 5.5em;
    padding: 1em;
}

#rule_check img {
    position: absolute;
    left: 8.8em;
    top: 23em;
    width: 6em;
}

#boat img{
    position: absolute;
    left: 4.5em;
    top: 10.9em;
    width: 6.3em;
}

.family {
    position: absolute;
}

.family img {
    position: absolute;
    width: 2.55em;
    margin: 0.5em;
    margin-left: 1.4em;
    z-index: 11;
}

#dad img{
    top: 0;
    left:0;
}

#mom img{
    top: 3.1em;
    left: 0;
}

#son1 img{
    top: 6.2em;
    left: 0;
}

#son2 img{
    top: 9.3em;
    left: 0;
}

#dau1 img{
    top: 12.4em;
    left: 0;
}

#dau2 img{
    top: 15.5em;
    left: 0;
}

#meido img{
    top: 18.6em;
    left: 0;
}

#dog img{
    top: 21.7em;
    left: 0;
}

/*結果画面*/
.num{
    height: 1.8em;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#num-box-left{
    position: absolute;
    top: 11.5em;
    left: 8em;
    width: 2em;
    height: 3em;
}
#num-box-right{
    position: absolute;
    top: 11.5em;
    left: 9.7em;
    width: 2em;
    height: 3em;
}
#te{
    position: absolute;
    top: 11.1em;
    left: 11.7em;
    width: 2.4em;
    height: 3em;
}
#te img{
    width: 2.7em;
    display: none;
} 

#result-box {
    position: absolute;
    width: 29em;
    top: 6em;
    left: -2.6em;   
}

.result-bad img {
    padding-top: 0.2em;
    width: 29em;
    display: none;
}
#retry img{
    position: absolute;
    width: 7em;
    top: 18em;
    left: 8.2em;;
    display: none;
}

#shusai img{
    position: absolute;
    width: 12em;
    top: 3em;
    left: 6em;
    display: none;
}
#tensai img{
    position: absolute;
    width: 29em;
    top: 3em;
    left: -2.5em;
    display: none;
}

#good-family{
    position: absolute;
    width: 12em;
    height: 1.5em;
    top: 21em;
    left: 5.5em;;
    display: block;
}

#good-family img{
    position: absolute;
    width: 6.4em;
    left: 2.4em;
    display: none;
}

#saitan img{
    position: absolute;
    width: 10em;
    top: 14.9em;
    left: 6.5em;;
    display: none;
    padding-bottom: 12em;
}

#ato img{
    position: absolute;
    width: 10em;
    top: 15em;
    left: 6.5em;;
    display: none;
}

#ato-num{
    text-align: center;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 15.3em;
    left: 8.7em;
    display: flex;
}

/*ボートアニメーション*/
@keyframes horizontal {
    0% { transform:translateX( 0px); }
    50% { transform:translateX( -2px); }
  100% { transform:translateX(  2px); }
}
@keyframes vertical {
    0% { transform:translateY(-1px); }
  100% { transform:translateY(  1px); }
}

.horizontal {
    animation: horizontal 1s ease-in-out infinite alternate;
}
  
.vertical {
    animation: vertical 2s ease-in-out infinite alternate;
}